@import "mixin";

.work-flow {
  padding: 60px 0px;

  .planing {
    @include work(#770508, #fdab76, 0px);
  }
  .research {
    @include work(#063963, #77f0ed, 20px);
  }
  .Optimizing {
    @include work(#7a5204, #ffe475, 40px);
  }
  .results {
    @include work(#02665b, #69f290, 60px);
  }
  .text {
    text-align: end;
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
  }
}
