@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color: #37AFC2;
$pcolor:#637381;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 25px;
}
h2{
    font-size: 44px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 24px;
}
h6{
    font-weight: 600;
    color: #919EAB;
    text-transform: uppercase;
    font-size: 12px;
}
p{
    color: $pcolor;
}
.bname{
    color: $color;
}


@import "pages/nav";
@import "pages/service";
@import "pages/work-flow";
@import "pages/technologies";